@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,300,700,500);

$text-primary: black;
$text-secondary: #777;

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin small {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

html,body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: $text-primary;
}

body {
  overflow: hidden;
}

.splash {
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  z-index: 10000;

  .splash-container {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    height: 70px;
  }

  .splash-text {
    color: white;
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 100;
  }

  .splash-progress {
    margin: auto;
  }
}

.content {
  display: none;
}

a,a:hover {
  color: $text-primary !important;
  text-decoration: none !important;
}

.header {
  // background-color: #8BC34A;

  h1,h2 {
    text-align: center;
    margin: 0 auto;
  }

  h1 {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: 64px;
    color: #2C3C2D;
    font-weight: 400;

    @include small {
      font-size: 32px;
    }
  }

  h2 {
    position: relative;
    font-size: 16px;
    top: -12px;
    color: lighten(#2C3C2D, 10%);
    font-weight: 300;

    @include small {
      font-size: 12px;
      top: -6px;
    }
  }
}

.products {
  width: 100%;
  
  @include desktop {
    width: 66%;
  }
  
  margin: auto;
  margin-bottom: 50px;
  padding-top: 10px;
}

.page-controls {
  right: 0;
  top: 0;
  
  &.affix {
    width: 100%;

    md-toolbar {
      transition: background-color 0.2s linear;
    }

    .page-size {
      display: none;
    }

    .page-navigation,.page-buttons md-icon {
      color: white;
    }
  }

  &:not(.affix) {
    position: absolute;

    md-toolbar {
      background-color: transparent;
    }
  }

  md-toolbar {
    .md-toolbar-tools {
      padding: 0;
    }
  }

  .page-size,.page-navigation,.page-buttons {
    text-align: left;
    display: inline-block;
  }

  .page-size,.page-navigation {
    font-size: 14px;
    font-weight: 300;
    color: $text-secondary;
  }

  .page-size {
    md-input-container {
      margin-top: 14px;
    }

    span {
      position: relative;
      top: 1px;
    }
  }

  .page-navigation {
    min-width: 120px;
    text-align: right;
  }
}

.product-table-container {
  margin-top: 64px;
  border-top: 1px solid #CCC;
}

.product-table {
  margin: auto;
  width: 100%;
  text-align: left;
  font-weight: 300;

  .product {
    background-color: transparent;
    transition: background-color 0.1s linear;

    padding: 20px;

    border-bottom: 1px solid #EEE;

    @include desktop {
      padding-left: 100px;
      padding-right: 100px;
    }

    &:hover {
      background-color: #CCC;
    }

    .product-image {
      width: 64px;
      border-radius: 12px;
    }


    .product-left {

    }

    .product-center {

    }

    .product-right {
      text-align: right;
    }

    .product-name {
      font-family: "Alegreya Sans SC", sans-serif;
      font-size: 24px;
      font-weight: 400;
    }

    .product-volume {
      color: #888;
    }

    .product-price {
      font-size: 32px;
      color: black;
    }

    .product-saved-price {
      font-size: 12px;
      color: #8BC34A;
    }

    .product-original-price {
      font-size: 12px;
      color: #777;
    }
  }
}

.footer {
  height: 50px;
  background-color: black;
  color: white;

  .footer-disclaimer {
    margin: auto;
    text-align: center;
    font-size: 10px;
    width: 50%;
    position: relative;
    transform: translateY(-50%);
    top: 50%;

    @include small {
      width: 100%;
      font-size: 8px;
    }
  }
}