@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,300,700,500);
@import url(https://fonts.googleapis.com/css?family=Lobster);

$light-green-50: #F1F8E9;
$light-green-100: #DCEDC8;
$light-green-200: #C5E1A5;
$light-green-300: #AED581;
$light-green-400: #9CCC65;
$light-green-500: #8BC34A;
$light-green-600: #7CB342;
$light-green-700: #689F38;
$light-green-800: #558B2F;
$light-green-900: #33691E;
$light-green-A100: #CCFF90;
$light-green-A200: #B2FF59;
$light-green-A400: #76FF03;
$light-green-A700: #64DD17;

$grey-50: #FAFAFA;
$grey-100: #F5F5F5;
$grey-200: #EEEEEE;
$grey-300: #E0E0E0;
$grey-400: #BDBDBD;
$grey-500: #9E9E9E;
$grey-600: #757575;
$grey-700: #616161;
$grey-800: #424242;
$grey-900: #212121;

$text-primary: $grey-900;
$text-secondary: $grey-700;

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin small {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

html,body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: $text-primary;
}

body {
  overflow: hidden;
}

.splash {
  width: 100%;
  height: 100%;
  background-color: $light-green-900;
  position: absolute;
  z-index: 10000;

  .splash-container {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    height: 70px;
  }

  .splash-text {
    color: $light-green-50;
    width: 100%;
    text-align: center;
    font-size: 28px;
    font-weight: 100;
  }

  .splash-progress {
    margin: auto;
  }
}

.content {
  display: none;
  background-color: $light-green-50;
}

a,a:hover {
  color: $text-primary !important;
  text-decoration: none !important;
}

.header {
  background-color: $light-green-700;

  h1,h2 {
    text-align: center;
    margin: 0 auto;
  }

  h1 {
    // font-family: "Alegreya Sans SC", sans-serif;
    font-family: 'Lobster', cursive;
    font-size: 64px;
    color: $light-green-50;
    font-weight: 400;

    @include small {
      font-size: 32px;
    }
  }

  h2 {
    position: relative;
    font-size: 16px;
    top: -6px;
    color: $light-green-200;
    font-weight: 300;

    @include small {
      font-size: 12px;
      top: -6px;
    }
  }
}

.products {
  width: 100%;
  
  @include desktop {
    width: 66%;
  }
  
  margin: auto;
}

.page-controls {
  right: 0;
  top: 0;
  
  &.affix {
    width: 100%;

    md-toolbar {
      transition: background-color 0.2s linear;
      background-color: $light-green-500;
      box-shadow: 0 2px 4px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);

      .md-toolbar-tools {
        transition: background-color 0.2s linear;
        background-color: $light-green-500;
        padding-right: 17%;

        @include small {
          padding-right: 0;
        }
      }
    }

    .page-size {
      display: none;
    }

    .page-navigation,.page-buttons md-icon {
      color: $light-green-50;
    }
  }

  &:not(.affix) {
    position: absolute;

    md-toolbar {
      background-color: transparent;
    }
  }

  md-toolbar {
    .md-toolbar-tools {
      padding: 0;
    }
  }

  .page-size,.page-navigation,.page-buttons {
    text-align: left;
    display: inline-block;
  }

  .page-size,.page-navigation {
    font-size: 14px;
    font-weight: 300;
    color: $text-secondary;
  }

  .page-size {
    md-input-container {
      margin-top: 14px;
    }

    span {
      position: relative;
      top: 1px;
    }
  }

  .page-navigation {
    min-width: 120px;
    text-align: right;
  }
}

.product-table-container {
  margin-top: 64px;
  border-top: 1px solid $grey-400;
}

.product-table {
  margin: auto;
  width: 100%;
  text-align: left;
  font-weight: 300;

  .product {
    background-color: transparent;
    transition: background-color 0.1s linear;

    padding: 20px;

    border-bottom: 1px solid $grey-200;

    @include desktop {
      padding-left: 100px;
      padding-right: 100px;
    }

    &:hover {
      background-color: $light-green-A100;
    }

    .product-image {
      width: 64px;
      border-radius: 12px;

      @include small {
        width: 48px;
      }
    }


    .product-left {

    }

    .product-center {

    }

    .product-right {
      text-align: right;
    }

    .product-name {
      font-family: "Alegreya Sans SC", sans-serif;
      font-size: 24px;
      font-weight: 400;

      @include small {
        font-size: 18px;
      }
    }

    .product-volume {
      color: $text-secondary;

      @include small {
        font-size: 12px;
      }
    }

    .product-price {
      font-size: 32px;
      color: $text-primary;

      @include small {
        font-size: 24px;
      }
    }

    .product-saved-price {
      font-size: 12px;
      color: $light-green-A700;


      @include small {
        font-size: 10px;
      }
    }

    .product-original-price {
      font-size: 12px;
      color: $text-secondary;


      @include small {
        font-size: 10px;
      }
    }
  }
}

.footer {
  height: 50px;
  position: relative;
  background-color: $light-green-700;
  color: $light-green-50;

  .footer-disclaimer {
    margin: auto;
    text-align: center;
    font-size: 10px;
    width: 90%;
    position: relative;
    transform: translateY(-50%);
    top: 50%;

    @include small {
      width: 100%;
      font-size: 8px;
    }
  }
}