@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 150px;
  color: #2C3C2D;
  font-weight: 500;
}

a {
  color: black;
  text-decoration: none;
}

.product-table {
  margin: auto;
  text-align: left;

  .price {
    text-align: right;
  }
}


.page-controls {
  text-align: right;
  .page-size,.page-navigation,.page-buttons {
    text-align: left;
    display: inline-block;
  }

  .page-size {
    
  }
}