@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
/* line 4, ../../sass/style.scss */
h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 150px;
  color: #2C3C2D;
  font-weight: 500;
}

/* line 13, ../../sass/style.scss */
.table {
  text-align: left;
}

/* line 17, ../../sass/style.scss */
.price {
  text-align: right;
}

/* line 21, ../../sass/style.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 26, ../../sass/style.scss */
.page-size {
  text-align: right;
  margin-right: 300px;
}
