@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,400,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,300,700,500);
@import url(https://fonts.googleapis.com/css?family=Lobster);
/* line 56, ../../sass/style.scss */
html, body {
  font-family: Roboto,"Helvetica Neue",sans-serif;
  color: #212121;
}

/* line 61, ../../sass/style.scss */
body {
  overflow: hidden;
}

/* line 65, ../../sass/style.scss */
.splash {
  width: 100%;
  height: 100%;
  background-color: #33691E;
  position: absolute;
  z-index: 10000;
}
/* line 72, ../../sass/style.scss */
.splash .splash-container {
  position: relative;
  transform: translateY(-50%);
  top: 50%;
  height: 70px;
}
/* line 79, ../../sass/style.scss */
.splash .splash-text {
  color: #F1F8E9;
  width: 100%;
  text-align: center;
  font-size: 28px;
  font-weight: 100;
}
/* line 87, ../../sass/style.scss */
.splash .splash-progress {
  margin: auto;
}

/* line 92, ../../sass/style.scss */
.content {
  display: none;
  background-color: #F1F8E9;
}

/* line 97, ../../sass/style.scss */
a, a:hover {
  color: #212121 !important;
  text-decoration: none !important;
}

/* line 102, ../../sass/style.scss */
.header {
  background-color: #689F38;
}
/* line 105, ../../sass/style.scss */
.header h1, .header h2 {
  text-align: center;
  margin: 0 auto;
}
/* line 110, ../../sass/style.scss */
.header h1 {
  font-family: 'Lobster', cursive;
  font-size: 64px;
  color: #F1F8E9;
  font-weight: 400;
}
@media (max-width: 767px) {
  /* line 110, ../../sass/style.scss */
  .header h1 {
    font-size: 32px;
  }
}
/* line 122, ../../sass/style.scss */
.header h2 {
  position: relative;
  font-size: 16px;
  top: -6px;
  color: #C5E1A5;
  font-weight: 300;
}
@media (max-width: 767px) {
  /* line 122, ../../sass/style.scss */
  .header h2 {
    font-size: 12px;
    top: -6px;
  }
}

/* line 136, ../../sass/style.scss */
.products {
  width: 100%;
  margin: auto;
}
@media (min-width: 1024px) {
  /* line 136, ../../sass/style.scss */
  .products {
    width: 66%;
  }
}

/* line 146, ../../sass/style.scss */
.page-controls {
  right: 0;
  top: 0;
}
/* line 150, ../../sass/style.scss */
.page-controls.affix {
  width: 100%;
}
/* line 153, ../../sass/style.scss */
.page-controls.affix md-toolbar {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 156, ../../sass/style.scss */
.page-controls.affix md-toolbar .md-toolbar-tools {
  transition: background-color 0.2s linear;
  background-color: #8BC34A;
  padding-right: 17%;
}
@media (max-width: 767px) {
  /* line 156, ../../sass/style.scss */
  .page-controls.affix md-toolbar .md-toolbar-tools {
    padding-right: 0;
  }
}
/* line 167, ../../sass/style.scss */
.page-controls.affix .page-size {
  display: none;
}
/* line 171, ../../sass/style.scss */
.page-controls.affix .page-navigation, .page-controls.affix .page-buttons md-icon {
  color: #F1F8E9;
}
/* line 176, ../../sass/style.scss */
.page-controls:not(.affix) {
  position: absolute;
}
/* line 179, ../../sass/style.scss */
.page-controls:not(.affix) md-toolbar {
  background-color: transparent;
}
/* line 185, ../../sass/style.scss */
.page-controls md-toolbar .md-toolbar-tools {
  padding: 0;
}
/* line 190, ../../sass/style.scss */
.page-controls .page-size, .page-controls .page-navigation, .page-controls .page-buttons {
  text-align: left;
  display: inline-block;
}
/* line 195, ../../sass/style.scss */
.page-controls .page-size, .page-controls .page-navigation {
  font-size: 14px;
  font-weight: 300;
  color: #616161;
}
/* line 202, ../../sass/style.scss */
.page-controls .page-size md-input-container {
  margin-top: 14px;
}
/* line 206, ../../sass/style.scss */
.page-controls .page-size span {
  position: relative;
  top: 1px;
}
/* line 212, ../../sass/style.scss */
.page-controls .page-navigation {
  min-width: 120px;
  text-align: right;
}

/* line 218, ../../sass/style.scss */
.product-table-container {
  margin-top: 64px;
  border-top: 1px solid #BDBDBD;
}

/* line 223, ../../sass/style.scss */
.product-table {
  margin: auto;
  width: 100%;
  text-align: left;
  font-weight: 300;
}
/* line 229, ../../sass/style.scss */
.product-table .product {
  background-color: transparent;
  transition: background-color 0.1s linear;
  padding: 20px;
  border-bottom: 1px solid #EEEEEE;
}
@media (min-width: 1024px) {
  /* line 229, ../../sass/style.scss */
  .product-table .product {
    padding-left: 100px;
    padding-right: 100px;
  }
}
/* line 242, ../../sass/style.scss */
.product-table .product:hover {
  background-color: #CCFF90;
}
/* line 246, ../../sass/style.scss */
.product-table .product .product-image {
  width: 64px;
  border-radius: 12px;
}
@media (max-width: 767px) {
  /* line 246, ../../sass/style.scss */
  .product-table .product .product-image {
    width: 48px;
  }
}
/* line 264, ../../sass/style.scss */
.product-table .product .product-right {
  text-align: right;
}
/* line 268, ../../sass/style.scss */
.product-table .product .product-name {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
@media (max-width: 767px) {
  /* line 268, ../../sass/style.scss */
  .product-table .product .product-name {
    font-size: 18px;
  }
}
/* line 278, ../../sass/style.scss */
.product-table .product .product-volume {
  color: #616161;
}
@media (max-width: 767px) {
  /* line 278, ../../sass/style.scss */
  .product-table .product .product-volume {
    font-size: 12px;
  }
}
/* line 286, ../../sass/style.scss */
.product-table .product .product-price {
  font-size: 32px;
  color: #212121;
}
@media (max-width: 767px) {
  /* line 286, ../../sass/style.scss */
  .product-table .product .product-price {
    font-size: 24px;
  }
}
/* line 295, ../../sass/style.scss */
.product-table .product .product-saved-price {
  font-size: 12px;
  color: #64DD17;
}
@media (max-width: 767px) {
  /* line 295, ../../sass/style.scss */
  .product-table .product .product-saved-price {
    font-size: 10px;
  }
}
/* line 305, ../../sass/style.scss */
.product-table .product .product-original-price {
  font-size: 12px;
  color: #616161;
}
@media (max-width: 767px) {
  /* line 305, ../../sass/style.scss */
  .product-table .product .product-original-price {
    font-size: 10px;
  }
}

/* line 317, ../../sass/style.scss */
.footer {
  height: 50px;
  position: relative;
  background-color: #689F38;
  color: #F1F8E9;
}
/* line 323, ../../sass/style.scss */
.footer .footer-disclaimer {
  margin: auto;
  text-align: center;
  font-size: 10px;
  width: 90%;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
@media (max-width: 767px) {
  /* line 323, ../../sass/style.scss */
  .footer .footer-disclaimer {
    width: 100%;
    font-size: 8px;
  }
}
